<h3>Create New Entry</h3>

<%= form_for [@user, @entry] do |f| %>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, {include_blank: true} %>
  </div>
  <div class="form-group">
    <%= f.label :skill %>
    <%= f.select :skill_id, Skill.all.collect { |s| [s.name, s.id] }, {include_blank: true} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.select :description_id, Description.all.collect { |d| [d.name, d.id] }, {include_blank: true} %>
  </div>
  <div class="form-group">
    <%= f.label :format_duration, "Duration" %>
    <%= f.text_field :format_duration, placeholder: "hh:mm" %>
  </div>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div class="form-group">
    <%= f.submit 'Create Entry', class: 'btn' %>
  </div>
<% end %>
