.container.clearfix
  = render 'shared/title', title: "Daily Activity"
  %section.daily_activities
    - @user.entries.group_by(&:date).sort_by {|date, entries| date.time}.each do |date, entries|
      .day
        %h2= format_entry_date date
        .table
          .thead
            .tr
              .th Duration
              .th Category
              .th Skill
              .th Description
              .th Submitted On
          .tbody
            - entries.each do |entry|
              .tr
                .td= format_duration entry.duration
                .td= entry.category.name
                .td= entry.skill.name
                .td= entry.description.name
                .td= format_entry_date entry.updated_at
