<div class="container">
  <%= render 'shared/title', title: "Profile: #{@user.username}" %>

  <h3>Entries:</h3>
  <%= link_to 'View all', user_entries_path(@user), class: 'btn' %>
  <br />

  <h3>Sheets:</h3>
  <% if @user.spreadsheets.empty? %>
    <%= render 'shared/no_resource_msg', resource: 'spreadsheet' %>
  <% else %>
    <%= render 'spreadsheets/links_list', user: @user %>
  <% end %>
  <br />

  <h3>Categories:</h3>
  <% if @user.categories.empty? %>
    <%= render 'shared/no_resource_msg', resource: 'category' %>
  <% else %>
    <ul>
      <% @user.categories.each do |category| %>
        <li>
          <%= link_to category.name, edit_user_category_path(@user, category) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <br />

  <h3>Skills:</h3>
  <% if @user.skills.empty? %>
    <%= render 'shared/no_resource_msg', resource: 'skill' %>
  <% else %>
    <ul>
      <% @user.skills.each do |skill| %>
        <li>
          <%= link_to skill.name, edit_user_skill_path(@user, skill) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <br />

  <h3>Descriptions:</h3>
  <% if @user.descriptions.empty? %>
    <%= render 'shared/no_resource_msg', resource: 'description' %>
  <% else %>
    <ul>
      <% @user.descriptions.each do |desc| %>
        <li>
          <%= link_to desc.name, edit_user_description_path(@user, desc) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
