<div class="container">
  <%= render 'shared/title', title: 'Create New Spreadsheet' %>

  <%= form_for [@user, @spreadsheet] do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.submit 'Create Spreadsheet', class: 'btn' %>
    </div>
  <% end %>
</div>
