<div class="nav_item">
  <%= link_to 'Mastery Tracker', root_path, class: 'brand' %>
</div>

<% if logged_in? %>
  <p class="nav_item"><small>Welcome, <%= current_user.username %>.</small></p>
  <div class="btn-group nav_item">
    <%= link_to '#', class: 'btn dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      New <span class='caret'></span>
    <% end %>
    <ul class='dropdown-menu'>
      <li><%= link_to 'Category', new_user_category_path(current_user) %></li>
      <li><%= link_to 'Skill', new_user_skill_path(current_user) %></li>
      <li><%= link_to 'Description', new_user_description_path(current_user) %></li>
      <li class="divider"></li>
      <li><%= link_to 'Entry', new_user_entry_path(current_user) %></li>
      <li><%= link_to 'Spreadsheet', new_user_spreadsheet_path(current_user) %></li>
    </ul>
  </div>

  <div class="nav_item">
    <%= link_to "View Profile", user_path(current_user), class: 'btn' %>
  </div>

  <div class="nav_item">
    <%= link_to 'Logout', logout_path, class: 'btn' %>
  </div>

  <% if @spreadsheet %>
    <small>
      <p id="save_status" class="nav_item"></p>
    </small>
  <% end %>

<% else %>
  <div class="nav_item">
    <%= link_to 'Register', register_path, class: 'btn' %>
  </div>
  <div class="nav_item">
    <%= link_to 'Login', login_path, class: 'btn' %>
  </div>
<% end %>
