<!DOCTYPE html>
<html>
  <head>
    <title>MasteryTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <%= render 'layouts/navigation' %>
      </div>
    </div>
    <main>
      <%= render 'layouts/flash_messages' %>
      <ul>Clean Up
        <li>Add validations to spreadsheets and rows</li>
        <li>Feature: create user</li>
        <li>Feature: login/logout user</li>
        <li>View spreadsheet of user</li>
        <li>Make sure rows and other data is saved specifically for the current user</li>
        <li>Page to list all entries of user</li>
        <li>Page to list all sheets of user</li>
      </ul>
      <%= yield %>
    </main>
  </body>
</html>
