<tr data-id="<%= row.id %>">
  <td>
    <input type="text" name="category-<%= index %>" value="<%= row.category %>">
  </td>
  <td>
    <input type="text" name="skill-<%= index %>" value="<%= row.skill %>">
  </td>
  <td>
    <input type="text" name="description-<%= index %>" value="<%= row.description %>">
  </td>
  <td class="duration-total"></td>
</tr>
