<tr data-id="<%= row.id %>">
  <td>
    <input type="text" class="category" data-id="<%= row.category.id %>" value="<%= row.category.name %>">
  </td>
  <td>
    <input type="text" class="skill" data-id="<%= row.skill.id %>" value="<%= row.skill.name %>">
  </td>
  <td>
    <input type="text" class="description" data-id="<%= row.description.id %>" value="<%= row.description.name %>">
  </td>
  <td class="duration-total"></td>
</tr>
